<!-- home.html (child template) -->

{% extends 'base.html' %}
{% load static %}

{% block title %}GeneApp{% endblock %}

{% block content %}
    <h1>Unlock the Potential of DNA and Protein Analysis with GeneApp!</h1>

    <br>

    <p>The purpose of this website is to gather publicly available tools for the analysis of DNA and protein
        sequences and enable users to conveniently utilize them. The available functions include: searching for
        protein IDs by entering a sequence, retrieving DNA sequences by entering protein IDs, comparing sequences,
        and generating a three-dimensional structure of the entered protein.</p>

    <br>
    <br>
    <div>
        <img src="{% static 'images/helix.png' %}">
    </div>
{% endblock %}
