<!-- input_sequence.html -->

{% extends 'base.html' %}

{% block title %}Wprowadź sekwencję{% endblock %}

{% block content %}
    <h1>Here you can input a sequence and receive information about the corresponding protein.</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit">Send</button>
    </form>


        <div class="table-responsive">
            {{ result|safe }}
        </div>

{% endblock %}
